/// Based on: https://web.dev/design-system/component/button
.button {
  display: inline-flex;
  align-items: center;
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-decoration: none;

  /// It's really important line-height is flat
  /// so to prevent cascade issues, we make it important
  line-height: 1 !important;

  @include apply-utility('weight', 'bold');

  /// SIZE
  padding: 1em 1em;

  /// TYPES
  &[data-type='primary'] {
    transition: background ease-in 0.2s;

    @include apply-utility('bg', 'core-secondary-dim');
    @include apply-utility('color', 'shades-light-bright');

    &:hover {
      @include apply-utility('bg', 'core-secondary');
    }
  }

  &[data-type='clear'] {
    border: none;
    background: none;
    transition: background ease-in 0.2s;

    @include apply-utility('color', 'shades-dim');

    &:hover {
      @include apply-utility('bg', 'shades-light');
    }
  }

  /// DISABLED STATE
  /// All properties are !important because this
  /// state has to take priority in all cases
  &:disabled {
    filter: invert(0.2) !important;
    box-shadow: none !important;
    transform: none !important;
    cursor: not-allowed !important;
  }
}