.footer {
  margin-block-start: get-space("space-3xl");
  padding-block: get-space("space-md");

  --flow-space: #{get-space("space-md")};

  @include apply-utility("color", "shades-light-bright");
  @include apply-utility("bg", "shades-dim");
  @include apply-utility("text", "size--1");

  // Lists
  ul {
    line-height: 2;
    margin-block: get-space("space-xs");
    padding: 0;
  }

  // Links
  a {
    background-color: transparent;
    color: currentColor;
  }

  a:hover {
    @include apply-utility("color", "core-primary-shade");
  }

  a:active {
    @include apply-utility("color", "core-primary-bright");
  }

  // Horizontal spacing
  span + span {
    margin-inline-start: get-space("space-xs");
  }
}
