/////////////////////////////////////////
// Skip link                           //
// For screen readers, visually hidden //
/////////////////////////////////////////

[href="#main"] {
  position: absolute;
  top: -10rem;
}

///////////////////////////////////
// Header                        //
// The solid color bar with logo //
///////////////////////////////////

$header-height: 4.25rem;
$header-padding-block: 0.5rem;

.header {
  width: 100%;
  min-height: $header-height;
  display: flex;

  @include apply-utility("bg", "shades-dark");
  @include apply-utility("color", "shades-light-bright");

  .content {
    display: flex;
    justify-content: space-between;
    padding-block: $header-padding-block;
  }

  a {
    background-color: transparent;
  }
}

////////////////////////////////////////////////////////////
// Navigation                                             //
// Collapsible menu on mobile + horizontal bar on desktop //
////////////////////////////////////////////////////////////

.navmenu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

// Button to open/close menu on mobile
.navmenu .toggle {
  display: flex;
  align-items: center;
  height: ($header-height - 2 * $header-padding-block);
  background: none;
  border: none;
  color: currentColor;
  padding: 0;
  -webkit-tap-highlight-color: get-color("shades-dim");

  @include apply-utility("text", "400");
  @include apply-utility("weight", "bold");

  .icon {
    margin-inline-start: get-space("space-2xs");
  }
}

// Navigation link list hide/show on mobile
.navmenu[data-expanded="true"] ul {
  display: flex;
}
.navmenu[data-expanded="false"] ul {
  display: none;
}

// Navigation link list
.navmenu ul {
  align-items: flex-end;
  margin: 0;
  padding-block: get-space("space-sm");
  text-align: right;

  @include apply-utility("weight", "bold");

  a {
    display: flex;
    color: currentColor;
    text-decoration: none;
  }

  a:hover {
    @include apply-utility("color", "core-primary-shade");
  }

  a:active {
    @include apply-utility("color", "core-primary-bright");
  }

  li[data-active="true"] a {
    @include apply-utility("color", "core-primary");
  }

  &.main {
    flex-direction: column;

    a {
      padding-block: get-space("space-sm");
    }
  }

  &.social {
    // Magic number to increase tap area
    margin: -0.875rem;

    a {
      padding: 0.875rem;
    }
  }
}

// Switch to horizontal
@include media-query("lg") {
  .navmenu {
    flex-direction: row;
    align-items: center;
  }

  .navmenu .toggle {
    display: none;
  }

  .navmenu[data-expanded="false"] ul {
    display: flex;
  }

  .navmenu ul {
    padding: 0;

    &.main {
      flex-direction: row;
      margin-block: 0;
      margin-inline: get-space("space-md");

      a {
        padding-block: 0;
        padding-inline: get-space("space-2xs");
      }
    }

    &.social {
      margin-block: 0;
      margin-inline: -0.5rem;

      // Magic number to align with text links
      padding-bottom: 0.25rem;

      a {
        padding-block: 0.125rem;
        padding-inline: 0.5rem;
      }
    }
  }
}

//////////////////////////////////////////////////////////
// Menu Toggle Icon                                     //
// Animation: https://codepen.io/designcouch/pen/ExvwPY //
//////////////////////////////////////////////////////////

$menu-toggle-icon-width: 27px;
$menu-toggle-icon-height: 18px;
$menu-toggle-icon-line-height: 2px;
$menu-toggle-icon-spacing: $menu-toggle-icon-line-height * 4;
$menu-toggle-icon-transition: 0.25s ease-in-out;

.menu-toggle-icon {
  width: $menu-toggle-icon-width;
  height: $menu-toggle-icon-height;
  position: relative;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    width: 100%;
    height: $menu-toggle-icon-line-height;
    background: currentColor;
    border-radius: $menu-toggle-icon-line-height;
    opacity: 1;
    left: 0;

    transform: rotate(0deg);
    transition: $menu-toggle-icon-transition;
  }

  span:nth-child(1) {
    top: $menu-toggle-icon-spacing * 0;
  }

  span:nth-child(2),
  span:nth-child(3) {
    top: $menu-toggle-icon-spacing * 1;
  }

  span:nth-child(4) {
    top: $menu-toggle-icon-spacing * 2;
  }
}

[aria-expanded="true"] .menu-toggle-icon {
  span:nth-child(1) {
    top: $menu-toggle-icon-spacing * 1;
    width: 0%;
    left: 50%;
  }

  span:nth-child(2) {
    transform: rotate(45deg);
  }

  span:nth-child(3) {
    transform: rotate(-45deg);
  }

  span:nth-child(4) {
    top: $menu-toggle-icon-spacing * 1;
    width: 0%;
    left: 50%;
  }
}
