.middle_container {
  @extend .double-border;

  position: relative;

  // give enough room from the navbar
  margin-top: 50px;

  @include apply-utility("bg", "shades-light-bright");

  .featured-title {
    position: absolute;

    // the idea here is to not use position relative
    // so that we don't have to account for the extra space
    // when it breaks into 2 lines
    h1 {
      font-size: 3.5rem;
      text-align: center;
      position: relative;
      transform: translateY(-100%) rotate(-5deg);

      span {
        @include apply-utility("bg", "core-primary");
      }
    }
  }

  .featured-title + div {
    margin-top: 32px;
  }
}

// at this point "ultimo episodio" is going to break into 2 words
// so we give it enough space
@media screen and (max-width: 530px) {
  .middle_container {
    // give enough room from the navbar
    margin-top: 100px;

    .featured-title {
      h1 {
        font-size: 3rem;
      }
    }
  }
}
