// Simple rules to help longform content—prose—read as nicely as it can
// From: https://web.dev/design-system/component/prose/
.prose {
  @extend .flow;
  @extend .wrapper;

  --flow-space: #{get-size("500")};

  max-width: $global-prose-element-max-width;
  display: flow-root;  // Clear floats

  p:empty {
    display: none;
  }

  /// Add more space
  h2,
  h3,
  h4 {
    --flow-space: #{get-size("700")};
  }

  /// Main headings should have less space for their
  /// immediate sibling
  h2 + *,
  h3 + *,
  h4 + * {
    --flow-space: #{get-size("300")};
  }

  // other headings with anchor link
  :is(h2, h3, h4, h5, h6) a[href^='#'] {
    color: currentColor;

    &:hover::after {
      content: "#";
      display: inline-block;
      margin-inline-start: get-size("100");
      line-height: 1;

      @include apply-utility("font", "base");
      @include apply-utility("color", "shades-gray-bright");
      @include apply-utility("text", "600");
    }
  }
}
