/// Box-like section
.section {
  border: 1rem double get-color("shades-dark");
  padding-block: get-space("space-md");
  position: relative;

  @include apply-utility("bg", "shades-light-bright");
  @include apply-utility("gap-top", "space-3xl");

  // h1 title at the top with highlight
  .featured-title {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    transform: rotate(-5deg) translateY(-50%);

    :is(h1, h2, h3, h4, h5) {
      @include apply-utility("text", "size-5");
    }

    span {
      @include apply-utility("bg", "core-primary");
    }

    & + * {
      @include apply-utility("gap-top", "space-lg");
    }
  }
}
