{{ define "main" }}
<main id="main">
  <section class="section prose">
    {{ partial "episodios/breadcrumbs.html" . }}

    {{ partial "episodios/episodio.html" . }}
  
    {{ partial "episodios/navigation.html" . }}
  </section>

  <section class="section prose" data-type="image">
    <a href="{{ .Params.image | absURL }}">
      <span class="visually-hidden">Capa do episódio</span>
      <img
        src="{{ .Params.image | absURL }}"
        loading="lazy"
        alt=""
      >
    </a>
  </section>
</main>
{{ end }}
