//** Color scheme via https://coolors.co
$brand-primary: #000;
$brand-secondary: #ffbc6b;

$body-bg: lighten($brand-primary, 8%);
$middle-container-bg: #fff;
$link-color: $brand-primary;

$fa-font-path: "../fonts"; // point to the subset files
