// Config comes first
@import "config";

// Dependencies
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

// Global
@font-face {
  font-family: ComicZine;
  src: url(/fonts/comic_zine_ot.otf);
  font-display: swap;
}

html, body {
  overflow-x: clip;
}

body {
  background: url(/bg-bw.gif);
  padding-top: 70px;
}

@media screen and (max-width: 530px){
  body {
    background: url(/bg-bw-small.gif);
  }
}

h1, h2, h3, h4 {
  font-family: ComicZine;
}

a {
  color: $body-bg;
}

// add underline to all links, 
// except those children of header tags or are buttons
*:not(h1, h2, h3, h4) > a:not(.btn) {
  text-decoration: underline;
}

// Utilities
@import "utilities/double-border";

// Blocks
@import "blocks/episode";
@import "blocks/episodes";
@import "blocks/footer";
@import "blocks/hero-container";
@import "blocks/main-container";
@import "blocks/middle-container";
@import "blocks/navbar";
@import "blocks/transcript";
