// Config comes first
@import "config";

// Reset
@import "reset";

// Dependencies
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

// Global
@font-face {
  font-family: ComicZine;
  src: url(/fonts/comic_zine_ot.otf);
  font-display: swap;
}

html, body {
  overflow-x: clip;
}

body {
  background: url(/img/bg-bw.gif);
  padding-top: 70px;
}

@media screen and (max-width: 530px){
  body {
    background: url(/img/bg-bw-small.gif);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: ComicZine;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a {
  color: $body-bg;
}

// add underline to all links, 
// except those children of header tags or are buttons
*:not(h1, h2, h3, h4) > a:not(.btn) {
  text-decoration: underline;
}

button:focus-visible,
[tabindex="-1"]:focus-visible {
  outline: solid $brand-secondary 2px;
}

// Utilities
@import "utilities/double-border";
@import "utilities/fixed";
@import "utilities/grid";
@import "utilities/img";
@import "utilities/margin";
@import "utilities/visually-hidden";

// Blocks
@import "blocks/button";
@import "blocks/dropdown";
@import "blocks/embed";
@import "blocks/episode";
@import "blocks/episodes";
@import "blocks/footer";
@import "blocks/header";
@import "blocks/hero-container";
@import "blocks/main-container";
@import "blocks/middle-container";
@import "blocks/transcript";
