@font-face {
  font-family: ComicZine;
  src: url(/fonts/comic_zine_ot.otf);
}

h1, h2, h3, h4 {
  font-family: ComicZine;
}

// add underscore to all links, 
// except those children of header tags or are buttons
*:not(h1, h2, h3, h4) > a:not(.btn) {
  text-decoration: underline;
}

// https://codepen.io/yangg/pen/mJBWPG
@mixin saw-tooth-vertical($width: 12px, $bg: #fff) {
  background-image:
    /* Top jagged */
    linear-gradient(135deg, #000 50%, transparent 50%),
    linear-gradient(225deg, #000 50%, transparent 50%),
    /* Bottom jagged */
    linear-gradient(45deg, $bg 50%, transparent 50%);
    // linear-gradient(-45deg, $bg 50%, transparent 50%);

  background-position:
    /* Top jagged */
    top left, top left,
    /* Bottom jagged */
    bottom left, bottom left;
  background-size: $width $width;
  background-repeat: repeat-x;
}

.navbar {
  background: black;
//  @include saw-tooth-vertical();
}

h1.last-episode {
}

body {
//  background: url('/morte-ao-rei.png');
//  background: url('/videos/video-4-1.gif');
//  background-size: contain;
//  filter: grayscale(100%);
  background: url(/bg-bw.gif);
}

.youtube-front {
//  max-width: 400px;
}

.double-border {
  border: 1rem double #000;
  border: 1rem double #000;
  padding: 16px;
}

.hero_container {
  position: relative;
}

// the idea here is to not use position relative
// so that we don't have to account for the extra space
// when it breaks into 2 lines
.hero_container .last-episode h1{
  font-size: 3.5rem;
  text-align: center;
  position: relative;
  transform: translateY(-100%) rotate(-5deg);
  span {
    background: $brand-secondary;
  }
}

.hero_container .last-episode + div {
  margin-top: calc(-3rem/2);
}

.navbar .logo {
  width: 100px;
  height: 50px;
}

.middle_container {
  @extend .double-border;

  // give enough room from the navbar
  margin-top: 50px;
}

.homepage_episode_row {
  &.title, &.description {
    margin-bottom: 3rem;
  }
}


.description-content {
  margin-top: 3rem;
}


// centralize
.youtube_row {
  text-align: center;
  .embed-responsive {
    margin: 0 auto;
  }
  .rss {
    @extend .justify-content-center;
  }

}

// at this point "ultimo episodio" is going to break into 2 words
// so we give it enough space
@media screen and (max-width: 530px){
  .hero_container .last-episode h1 {
    font-size: 3rem;
  }
  .middle_container {
    // give enough room from the navbar
    margin-top: 100px;
  }
}
