<footer class="footer">
  <div class="flow wrapper">
    <div class="auto-grid">
      <div>
        <span id="footer-site-label" class="weight-bold">
          {{ .Site.Title }}
        </span>
        <ul role="list" aria-labelledby="footer-site-label">
        {{ range .Site.Menus.main }}
          <li>
            <a href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
        {{ end }}
        </ul>
      </div>
      <div>
        <span id="footer-social-label" class="weight-bold">
          Redes sociais
        </span>
        <ul role="list" aria-labelledby="footer-social-label">
        {{ range .Site.Menus.social }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
        </ul>
      </div>
    </div>
    <div class="repel">
      <div>
        <span>E-mail: contato@triceratops.show</span>
      </div>
      <div>
        {{ if .IsHome }}
        {{ with .Site.Params.GitSHA }}
        <span><a href="https://github.com/triceratops-show/www.triceratops.show/commit/{{ . }}" target="_blank">Versão: {{ first 6 . }}</a></span>
        {{ end }}
        {{ end }}
        <span>
          <a href="https://github.com/triceratops-show/www.triceratops.show">
            GitHub
          </a>
        </span>
      </div>
      <div>{{ .Site.Copyright | markdownify}}</div>
    </div>
  </div>
</footer>
  
