{{ define "main" }}
<div class="centered">
  <main id="main" class="section prose">
    {{ partial "breadcrumbs/taxonomy.html" . }}

    <h1>{{ if .Title }}{{ .Title }}{{ else }}{{ .Data.Term }}{{ end }}</h1>
  
    {{ .Content }}
  
    <h2>Episódios</h2>
    <ul>
      {{ range .Data.Pages.ByPublishDate }}
      {{ $title := printf "#%d %s" .Params.episode .Title }}
      <li><a href="{{ .Permalink }}">{{ $title }}</a></li>
      {{ end }}
    </ul>

    {{ partial "navigation/taxonomy.html" . }}
  </main>
</div>
{{ end }}
