<!-- TODO: Keep in sync with assets/scripts/app.jsx -->
  <div class="row title">
    <div class="col">
      {{ if .Params.episode }}
      <h1><a href="{{ .Permalink }}"><h1>#{{ .Params.episode }} {{ title .Title }}</h1></a></h1>
      {{ end }}

      {{- if ne $.Params.upcoming true -}}
        <small>Posted on {{ dateFormat "Monday, Jan 2, 2006" .Date }} {{ partial "episode-metadata.html" .}}</small>
      {{- else -}}
        <small>Scheduled for {{ dateFormat "Monday, Jan 2, 2006" .Date }} {{ partial "episode-metadata.html" .}}</small>
      {{- end -}}
    </div>
  </div>


  {{- if .Content }}
  <div class="row description-content">
    <div class="col">
      {{- if .Description }}
      <div style="margin-bottom: 32px">
        <h2>cabeça</h2>
        {{ .Description }}
      </div>
      {{- end }}
      <div>
        {{ .Content }}
      </div>
    </div>
  </div>
  {{- end }}


      <div class = "row youtube_row">
        <div class = "col">
          <h2>Escute no youtube:</h2>
          <div class="embed-responsive embed-responsive-1by1">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{ .Params.youtube }}" allowfullscreen></iframe>
          </div>
          <div>
            <h2>No seu agregador preferido:</h2>
            {{- partial "rss.html" . }}
          </div>

          <div>
            <h2>Aqui no site mesmo:</h2>
            {{- with .Params.podcast_file -}}
              {{- if ne $.Params.upcoming true -}}
                <div class="row">
                  <div class="col-md-12 player_row">

                  <audio id="player2" style="width: 100%" controls preload="none">
                    <source src="{{ $.Site.Params.media_prefix }}{{ . }}" type="audio/mp3">
                    </audio>
                  </div>
                </div>
              {{- end -}}
            {{- end -}}
          </div>

          <div>
            <h2>Ou baixe para a posteridade:</h2>
            <a class="btn btn-info" href="{{ .Params.podcast_file }}" download>Download</a>
          </div>
        </div>
      </div>


        <!-- transcript POC begin-->
        {{- with .Params.transcript -}}

        
        <!--
          TODO: fix these buttons
        <p>
          <button class="hide_transcript btn btn-secondary">Hide Transcript</button>
          <button class="show_transcript btn btn-secondary">Display Transcript</button>
          </p>
        -->
        <div class="row transcript">
          <div class="col-md-12">
            <h2>Transcrição</h2>
            {{ (readFile .) | markdownify}}
          </div>
        </div>
        {{- end -}}
        <!-- transcript POC end -->




  {{ with .Params.guests }}
        <div class="row">
          <div class="col">
            <h2>Guests</h2>
          </div>
        </div>
            {{ range $name := . }}
              {{ $.Scratch.Set "person" $name }}
              {{- range where $.Site.Pages "Type" "guest" -}}
                {{- if eq .File.BaseFileName ($.Scratch.Get "person") -}}
                {{- $.Scratch.Set "guest-exist" "true" -}}
                <div class="row person_row">
                  <div class="col-md-3">
                    {{- if and (isset .Params "thumbnail") (ne .Params.thumbnail "") -}}
                      {{- if (eq (slicestr .Params.thumbnail 0 4) "http") -}}
                        <img alt="{{ .Title }}" src="{{ .Params.thumbnail }}" class="img-fluid" width="250px">
                        {{- else -}}
                        <img alt="{{ .Title }}" src="{{ .Params.thumbnail | absURL}}" class="img-fluid" width="250px">
                      {{- end -}}
                      {{- else -}}
                      <img alt="{{ .Title }}" src="{{ "img/guest/default-guest.png" | absURL }}" class="img-fluid" width="250px"/>
                    {{- end -}}
                  </div>
                  <div class="col-md-8">
                    <h2><a href = "{{(printf "guest/%s/" .File.BaseFileName) | absURL }}">{{ .Title }}</a> {{ with .Params.Pronouns }}({{ . }}){{ end }}</h2>
                    {{ .Content }}
                    {{- with .Params.Website -}}
                      <a href="{{ . }}">
                        <i class="fas fa-home fa-2x"></i>
                      </a>
                    {{- end -}}
                    {{- with .Params.Twitter -}}
                      <a href="https://twitter.com/{{ . }}">
                        <i class="fab fa-twitter-square fa-2x"></i>
                      </a>
                    {{- end -}}
                    {{- with .Params.GitHub -}}
                      <a href="https://github.com/{{ . }}">
                        <i class="fab fa-github-square fa-2x"></i>
                      </a>
                    {{- end -}}
                    {{- with .Params.LinkedIn -}}
                      <a href="https://www.linkedin.com/in/{{ . }}/">
                        <i class="fab fa-linkedin fa-2x"></i>
                      </a>
                    {{- end -}}
                    {{- with .Params.Facebook -}}
                      <a href="https://www.facebook.com/{{ . }}">
                        <i class="fab fa-facebook-square fa-2x"></i>
                      </a>
                    {{- end -}}
                    {{- with .Params.Pinterest -}}
                      <a href="https://www.pinterest.com/{{ . }}">
                        <i class="fab fa-pinterest-square fa-2x"></i>
                      </a>
                    {{- end -}}
                    {{- with .Params.Instagram -}}
                      <a href="https://www.instagram.com/{{ . }}">
                        <i class="fab fa-instagram fa-2x"></i>
                      </a>
                    {{- end -}}
                    {{- with .Params.YouTube -}}
                      <a href="https://www.youtube.com/{{ . }}">
                        <i class="fab fa-youtube-square fa-2x"></i>
                      </a>
                    {{- end -}}
                    {{- with .Params.Twitch -}}
                    <a href="https://twitch.tv/{{ . }}">
                      <i class="fab fa-twitch fa-2x"></i>
                    </a>
                  {{- end -}}
                  </div>
                  </div>
                {{- $.Scratch.Set "guest-exist" "false" -}}
                {{- end -}}
              {{- end -}}
              {{- if ne ($.Scratch.Get "guest-exist") "true" -}}
              {{- if (isset $.Site.Data.guests ($.Scratch.Get "person")) -}}
                  {{- $p :=  (index $.Site.Data.guests ($.Scratch.Get "person")) -}}
                    <div class="row person_row">
                      <div class="col-md-3">
                        {{- if and (isset $p "thumbnail") (ne $p.thumbnail "") -}}
                          {{- if (eq (slicestr $p.thumbnail 0 4) "http") -}}
                            <img alt = "{{ $p.full_name }}" src = "{{ $p.thumbnail}}" class="img-fluid" width = "250px">
                          {{- else -}}
                            <img alt = "{{ $p.full_name }}" src = "{{ $p.thumbnail | absURL }}" class="img-fluid" width = "250px">
                          {{- end -}}
                        {{- else -}}
                          <img alt = "{{ $p.full_name }}" src = "{{ "img/guest/default-guest.png" | absURL }}" class="img-fluid" width = "250px" />
                        {{- end -}}
                      </div>
                      <div class= "col-md-8">
                        <h2>{{ $p.full_name }}</h2>
                        {{- if isset $p "bio" -}}
                          <p>{{ $p.bio | markdownify }}</p>
                        {{ end }}
                        {{ if isset $p "homepage" }}
                          <a href = "{{ $p.homepage}}"><i class="fas fa-home fa-2x"></i></a>
                        {{ end }}
                        {{ if isset $p "twitter" }}
                          <a href = "https://twitter.com/{{ $p.Twitter }}"><i class="fab fa-twitter-square fa-2x"></i></a>
                        {{ end }}
                        {{ if isset $p "github"}}
                          <a href = "https://github.com/{{ $p.GitHub}}"><i class="fab fa-github-square fa-2x"></i></a>
                        {{ end }}
                        {{ if isset $p "linkedin" }}
                          <a href = "https://www.linkedin.com/in/{{ $p.LinkedIn}}/"><i class="fab fa-linkedin-square fa-2x"></i></a>
                        {{ end }}
                        {{ if isset $p "facebook" }}
                          <a href = "{{ $p.Facebook}}"><i class="fab fa-facebook-square fa-2x"></i></a>
                        {{ end }}
                      </div>
                    </div>
                      {{ end }}

                {{ end }}
            {{ end }}
  {{ end }}

      <!-- disqus begins -->
      <div class="row">
        <div class="col-md-12">
          {{ partial "disqus.html" . }}
        </div>
      </div>
      <!-- disqus ends -->

