<nav class="navbar fixed-top navbar-expand">
<div class="container">
  <a href="{{ .Site.BaseURL }}">
    <img class="logo" srcset="/images/logo-400px.png 2x, /images/logo-200px.png 2x">
  </a>

  {{- if .Site.Menus.main }}
  <div id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          {{ $currentPage := . }}
          {{ range sort .Site.Menus.main "Identifier"}}
            {{ if .HasChildren }}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ .Name }}</a>
              <div class="dropdown-menu">
              {{ range sort .Children  "Identifier"}}
                <a class="dropdown-item{{ if $currentPage.IsMenuCurrent "Main" . }} active {{ end }}" href="{{ .URL | absURL}}">{{ .Name }}</a>
              {{ end }}
              </div>
              </li>
            {{ else }}
                <li class= "nav-item {{ if or ($currentPage.IsMenuCurrent "Main" .) ($currentPage.HasMenuCurrent "Main" .) }} active {{ end }}">
                <a href="{{ .URL | absURL }}" class="nav-link">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
  {{- end }}
  </div>
  </div>
  </nav>
