{{ define "main" }}
<!-- featured -->
<main id="main">
  <section class="section prose">
    <div class="featured-title">
      <h1><span>Último Episódio</span></h1>
    </div>
  
    {{ range first 1 (where ( where site.RegularPages "Type" "in" site.Params.mainSections) ".Params.upcoming" "!=" true ) }}
      {{ partial "episodios/episodio.html" . }}
    {{- end -}}
  </section>
</main>
<!-- /featured -->

<!-- latest episodes -->
<aside class="section wrapper">
  {{- if (where site.RegularPages "Type" "in" site.Params.mainSections) -}}
  {{- $previousEpisodes := where (where site.RegularPages "Type" "in" site.Params.mainSections) ".Params.upcoming" "!=" true | after 1 | first 2 }}
  {{- $list := (where ( where site.RegularPages "Type" "in" site.Params.mainSections) ".Params.upcoming" "!=" true ) -}}
  {{- $len := (len $list) -}}
  <div class="featured-title">
    <h2><span>Episódios Anteriores</span></h2>
  </div>

  <div class="gallery auto-grid">
    {{- if gt $len 1 -}}
      {{- range $previousEpisodes -}}
      <a href="{{ .Permalink }}">
        <img
          src="{{ .Params.image | absURL }}"
          loading="lazy"
          alt=""
        >
        <h3>#{{ .Params.episode }} {{ .Title }}</h3>
        <small>Publicado em {{ dateFormat ":date_long" .Date }}</small>
      </a>
      {{- end -}}
    {{- end -}}
  </div>
  {{- end -}}
</aside>
<!-- /latest episodes -->
{{ end }}
