{{ define "main" }}
<div class="centered">
  <main id="main" class="section prose">
    {{ partial "breadcrumbs/taxonomy.html" . }}

    <h1>{{ .Data.Term }}</h1>
  
    <p>
      {{ $numEpisodes := len .Data.Pages }}
          tocamos {{ .Data.Term }} em {{ $numEpisodes }} {{ if eq $numEpisodes 1 }}episódio{{ else }}episódios{{ end }}:
    </p>
  
    <ul>
      {{ range .Data.Pages.ByPublishDate }}
      {{ $title := printf "#%d %s" .Params.episode .Title }}
      <li><a href="{{ .Permalink }}">{{ $title }}</a></li>
      {{ end }}
    </ul>

    {{ partial "navigation/taxonomy.html" . }}
  </main>
</div>
{{ end }}
