<!-- TODO: Keep in sync with assets/js/admin.jsx -->

<!-- header -->
{{ if .Params.episode }}
<h1><a href="{{ .Permalink }}">#{{ .Params.episode }} {{ .Title }}</a></h1>
{{ end }}

{{- if ne $.Params.upcoming true -}}
<small>Publicado em {{ dateFormat ":date_full" .Date }}</small>
{{- else -}}
<small>Estreia em {{ dateFormat ":date_full" .Date }}</small>
{{- end -}}
<!-- /header -->

<!-- content -->
{{- if .Content }}
  {{- if .Description }}
    <h2 id="cabeça" class="gap-top-space-xl"><a href="#cabeça">cabeça</a></h2>
    <p>{{ .Description }}</p>
  {{- end }}
    {{ .Content }}
{{- end }}
<!-- /content -->

<!-- media & links -->
<div class="all-center flow">
  {{- if .Params.video_local }}
  <h2 id="video">
    <a href="#video">
      Veja o vídeo aqui no site porque o YouTube deu copyright strike:
    </a>
  </h2>
  <div class="embed responsive-1by1 max-width">
    <video id="episode-video-player" controls>
      <source
        class="responsive-item"
        src="{{ .Params.video_local }}"
        type="video/mp4"
      >
    </video>
  </div>
  {{- else }}
  <h2 id="video"><a href="#video">Escute no YouTube:</a></h2>
  <div class="embed responsive-1by1 max-width">
    <iframe
      class="responsive-item"
      src="//www.youtube.com/embed/{{ .Params.youtube }}?enablejsapi=1"
      allowfullscreen
    ></iframe>
  </div>
  {{- end }}
  
  <h2 id="rss"><a href="#rss">No seu agregador preferido:</a></h2>
  {{- partial "episodios/subscribe.html" . }}
  
  <h2 id="audio"><a href="#audio">Aqui no site mesmo:</a></h2>
  {{- with .Params.podcast_file -}}
  {{- if ne $.Params.upcoming true -}}
  <audio
    id="episode-audio-player"
    class="audio-player"
    preload="none"
    controls
  >
    <source src="{{ $.Site.Params.media_prefix }}{{ . }}" type="audio/mp3">
  </audio>
  {{- end -}}
  {{- end -}}
  
  <h2 id="download"><a href="#download">Ou baixe para a posteridade:</a></h2>
  <p>
    <a class="button" href="{{ .Params.podcast_file }}" data-type="primary" download>
      Download
    </a>
  </p>
</div>
<!-- /media & links -->

<!-- taxonomies -->
{{ partial "episodios/tags.html" . }}
<!-- /taxonomies -->

<!-- transcript POC begin -->
{{- with .Params.transcript -}}        
<!--
  TODO: fix these buttons
<p>
  <button class="hide_transcript button">Hide Transcript</button>
  <button class="show_transcript button">Display Transcript</button>
  </p>
-->
<h2 id="transcrição"><a href="#transcrição">Transcrição</a></h2>
{{ (readFile .) | markdownify}}
{{- end -}}
<!-- transcript POC end -->
