<div>
  {{ if (isset .Site.Params "spotify_subscribe") }}
  <a
    class="button"
    href="{{ .Site.Params.spotify_subscribe}}"
    data-type="clear"
  >
    <i class="fab fa-spotify"></i>&nbsp;Spotify
  </a>
  {{ end }}

  {{ if (isset .Site.Params "itunes_subscribe") }}
  <a
    class="button"
    href="{{ .Site.Params.itunes_subscribe}}"
    data-type="clear"
  >
    <i class="fa fa-podcast"></i>&nbsp;Apple Podcasts
  </a>
  {{ end }}

  {{ if (isset .Site.Params "android_subscribe") }}
  <a
    class="button subscribe_buttons"
    href="{{ .Site.Params.android_subscribe }}"
    data-type="clear"
  >
    <i class="fab fa-android"></i>&nbsp;Android
  </a>
  {{ end }}

  {{ if (isset .Site.Params "google_play_subscribe") }}
  <a
    class="button"
    href="{{ .Site.Params.google_play_subscribe }}"
    data-type="clear"
  >
    <i class="fab fa-google-play"></i>&nbsp;Google Podcasts
  </a>
  {{ end }}

  {{ with .Site.Params.stitcher_subscribe }}
  <a
    class="button"
    href="{{ . }}"
    data-type="clear"
  >
    <i class="fa fa-podcast"></i>&nbsp;Stitcher
  </a>
  {{ end }}

  {{ if (isset .Site.Params "soundcloud_subscribe") }}
  <a
    class="button"
    href="{{ .Site.Params.soundcloud_subscribe }}"
    data-type="clear"
  >
    <i class="fab fa-soundcloud"></i>&nbsp;Soundcloud
  </a>
  {{ end }}

  {{ if (isset .Site.Params "pocketcasts_subscribe") }}
  <a
    class="button"
    href="{{ .Site.Params.pocketcasts_subscribe }}"
    data-type="clear"
  >
    <i class="fa fa-podcast"></i>&nbsp;PocketCasts
  </a>
  {{ end }}

  <a
    class="button"
    href="{{"episodes/index.xml" | absURL }}"
    data-type="clear"
  >
    <i class="fa fa-rss"></i>&nbsp;RSS
  </a>
</div>
